/* Définition des polices personnalisées */
@font-face
{
    font-family: 'raleway';
    src: url('font/raleway-regular-webfont.eot');
    src: url('font/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/raleway-regular-webfont.woff2') format('woff2'),
         url('font/raleway-regular-webfont.woff') format('woff'),
         url('font/raleway-regular-webfont.ttf') format('truetype'),
         url('font/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    display:flex;
    flex-direction:column;
    font-family: 'raleway', Arial, sans-serif;
    width: 1200px;
    margin: auto;
}
body h1
{
    font-weight: bold;
    font-size: large;
}
body h2, #filtres a
{
    font-size:small;
    font-weight: bold;
    
}
body h3, h4, li
{
    font-size: small;
    color:rgb(71, 71, 71);
    font-weight:100;
}
header, main
{
    padding: 3%;
    padding-top: 0%;
}
/* Header*/
header
{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding-bottom: 0%;
}
.en-tête
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
header h1
{
    margin-top: 3%;
}
header h3
{
    margin-top: 0px;
}
#logo
{   
    flex-grow: 2;
}
#loisirs a
{
    font-size:small;
    text-decoration: none;
    color: black;
    padding:35px;
}
#loisirs a:hover
{
    border-top: 2px solid #0065FC;  
}
#loisirs
{
    display: flex;
    
}
#inscription a
{
    font-size:small;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    margin:20px; 
}


#barre_de_recherche
{
    display:flex;
}
#barre_de_recherche i
{
    background-color:#F2F2F2 ;
    border-radius:15px 0px 0px 15px ;
    padding:15px;
    
}
#recherche
{
    font-weight: bold;
    border:none;
    border-color: #F2F2F2;
    padding-left: 15px;
    border-top-style:solid;
    border-bottom-style:solid;
    border-width: 1px;
    
}
#barre_de_recherche button
{
    background-color:#0065FC;
    border-radius:0px 15px 15px 0px;
    color:white;
    border:none;
    padding:15px;
    padding-bottom: 0%;
    padding-top: 0%;

}
#filtres
{
    display:flex;
    flex-direction:row;
    align-items: baseline;
    
}
#filtres h2
{
    font-weight: bolder;
    margin-right:15px;
}
#filtres i
{
    border-radius: 75px;
    background-color:#DEEBFF ;
    color: #0065FC;
    padding:15px;
}
#filtres a
{
    text-decoration: none;
    font-weight: bold;
    color:black
}
.filtres
{
    margin:15px;
    border-style: solid;
    border-color:#F2F2F2;
    border-radius: 25px;
    border-width: 2px;
    padding-right: 15px;
    border-left: none;
}
#filtre_mobile
{
    display: flex;
    flex-direction: row;
}
#information
{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    padding-bottom: 25px;
    
}
#information h3
{
    padding-left: 0%;
}
#information i
{
    font-size: x-small;
    padding: 5px 7px 5px 7px;
    margin: 10px;
    color:#0065FC ;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color:#F2F2F2 ;
}

/*section1*/

section
{
    display: flex;
    height: 600px;
}
section h1
{
    margin-top: 15px;
    margin-bottom: 15px;
}
#hébergements
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #F2F2F2;
    width: 75%;
    margin: 0px 15px 0px 0px;
    border-radius: 15px;
    padding: 25px;
    margin-left: 0px;    
}
#hébergements h3
{
    font-size:small;
    font-weight: bolder;
    color:black;
    margin:auto;
    margin-top: 5%;
}
#hébergements h4
{
    margin:auto;
    margin-top:2%;
}
#hébergements a
{
    font-size:small;
    font-weight: bolder;
    color:black;
    text-decoration: none;   
}
.stars
{
    display: flex;
    font-size: x-small;
    margin-top: 5px;
}
.bluestar
{
    display: flex;
    flex-direction: row;
    font-size: x-small;
    color: #0065FC;
}
.greystar
{
    display: flex;
    flex-direction: row;
    font-size: x-small;
    color: #F2F2F2;
}
#vignettes_hébergements
{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 500px; 
}
.vignette_section1
{
    display:flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 20%;
    border-style: solid;
    border-color: white;
    padding-bottom: 80px;
    border-radius: 15px;
    box-shadow: 3px 2px 5px 1px  rgb(204, 202, 202);   
}
.images_section1
{   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20%;
    border-radius: 15px 15px 0px 0px;
}
.description_section1
{  
    border-radius: 0px 0px 15px 15px;
    border-top: none;
    padding-bottom: 15px;
    padding-left: 10px;
}
#Auberge_la_Cannebière
{
    background-image: url(images/hebergements/4_small/marcus-loke.jpg); 
}
#Hôtel_du_port
{
    background-image: url(images/hebergements/4_small/fred-kleber.jpg); 
}
#Hôtel_Les_mouettes
{
    background-image: url(images/hebergements/4_small/reisetopia.jpg); 
}
#Hôtel_de_la_mer
{
    background-image: url(images/hebergements/4_small/annie-spratt.jpg);
}
#Auberge_Le_Panier
{
    background-image: url(images/hebergements/4_small/nicate-lee.jpg); 
}
#Hôtel_chez_Amina
{
    background-image: url(images/hebergements/4_small/febrian-zakaria.jpg); 
}

/*aside*/

aside
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    width: 30%;
    border-radius: 15px;
    padding: 25px;
    margin-left: 0px;
}
#bloc_vignettes
{
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;   
}
.vignette_aside h3
{
    font-size:small;
    font-weight: bolder;
    color:black;
    margin-bottom: 5px;
}
.vignette_aside h4
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.vignette_aside .stars
{
    margin-top: auto
}
.vignette_aside
{
    display:flex;
    flex-direction: row;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    box-shadow: 3px 2px 5px 1px  rgb(204, 202, 202);
    height: 30%;
    background-color: white;
}
.images_aside
{
    border-radius: 15px 0px 0px 10px;
    margin: 0px;
    width: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.description_aside
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 60%;
}
#Hôtel_Le_soleil_du_matin
{
    background-image: url(images/hebergements/4_small/emile-guillemot.jpg);
}
#Au-coeur_de_l_eau_Chambres_d_hôtes
{
    background-image: url(images/hebergements/4_small/aw-creative.jpg);
}
#Hôtel_Tout_bleu_et_Blanc
{
    background-image: url(images/hebergements/4_small/febrian-zakaria-.jpg);
}

/*section2*/

#section_2
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 470px;
    margin-top:4%;  
    margin-bottom: 0%;
}
#Bloc_vignettes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}
.Colonne_double_vignette
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}
.images_section2
{   
    background-repeat: no-repeat;
    background-position: center;    
    border-radius: 15px 15px 0px 0px;   
}
.vignettes_simple
{
    border-radius: 15px;
    box-shadow: 3px 2px 5px 1px  rgb(204, 202, 202);
    background-color: white; 
    width: 23%;
    height: 390px;
}
.vignettes_double
{   
    border-radius: 15px;
    box-shadow: 3px 2px 5px 1px  rgb(204, 202, 202);
    background-color: white; 
    height:180px;
}
.vignettes_simple .images_section2
{
    height: 82px;
    padding: 50%;
    
}
.vignettes_double .images_section2
{
    padding: 25%;
    
}
.Nom_activité
{
    border-radius: 0px 0px 15px 15px;
    padding-left: 15px;   
}
#pomègues
{
    border-radius: 15px;
    box-shadow: 3px 2px 5px 1px  rgb(204, 202, 202);
    background-color: white;
    height:220px;
}
#frioul
{
    border-radius: 15px;
    box-shadow: 3px 2px 5px 1px  rgb(204, 202, 202);
    background-color: white;
    height: 150px;
}

#Vieux_port
{
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");   
}
#Fort_de_Pomègues
{
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size:cover;
    padding: 25%;
    height:18%
}
#Iles_du_Frioul
{
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size:cover;
    background-position:top;
    padding: 15%;
    height: 16%;
}
#Parc_National_des_Calanques
{
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position:top;    
}
#Notre-Dame-de-la-Garde
{
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size:cover;
    background-position:top;
}
#Parc-Longchamp
{
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size:cover;
    background-position:top;
}

/*footer*/

footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    height: 50%;
    padding: 3%;
    margin-bottom: 4%;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-color: rgb(226, 222, 222);
    border-width:thin;
}
.footer
{
    width: 33%;
}
ul 
{
    padding: 0;
    list-style-type: none;
}
li
{
    margin-bottom: 2%;
}
@media screen and (max-width:991px)
{

    body
    {
        width:768px;
    }
    .en-tête
    {
        width: 740px;
    }
    header,#filtres
    {   
        flex-direction: column;
        height: auto;
        width: 768px;
        margin:0;
        padding: 25px;
        
    }
    
    /*section*/
    section
    {
        height: auto;
        width: 768px;
        display: flex;
        flex-direction: column;
    }
    aside
    {
        order: -1;
        width: 700px;
        margin-bottom:25px
    }
    .en-tête
    {
        width:700px;
    }
    #bloc_vignettes
    {
        flex-direction: row;
        
    }
    .vignette_aside
    {
        height: 100px;
        width: 220px;
    }

    #hébergements
    {
        height:500px;
        width:700px;
    }
    .vignette_section1
    {
        height:80px;
    }
    /*section2*/

    #Bloc_vignettes
    {
        width: 750px;
    }
    .vignettes_simple
    {
        height: 310px;
    }
    .Colonne_double_vignette
    {
        height: 310px;
    }
    #pomègues
    {
        height: 150px;
    }
    #frioul
    {
        height: 128px;
    }
    .vignettes_double
    {
        height:142px;
    }
}
@media screen and (max-width:768px)
{
    #bloc_page, main,section,div
    {
        height: auto;
    }
    /*header*/

    header,#filtres
    {   
        flex-direction: column;
        height: auto;
        width: 375px;
        margin:0;
        padding: 25px;
        
    }
    #loisirs a
    {
        width: auto;
        height:30px;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        align-items: center;
        padding-right: 50px;
        padding-bottom: 0px;
    }
    #loisirs a:hover
    {   
        border-top: none;
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        
    }
    #inscription
    {
        order: -1;
    }
    #logo
    {   
        order:-1;
    }
    .en-tête
    {   
        flex-wrap: wrap;  
        width: 100%;
        height: auto;
    }
    .mobile
    {
    padding-left: 25px;
    padding-right: 65px;
    }
    header h1, header h3
    {
        padding-left: 25px;
        width:250px;
    }
    #barre_de_recherche
    {
        padding-left: 25px;
        
    }
    #barre_de_recherche button
    {
        background-image: url(images/logo/search-solid.svg);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: center;
        border-radius: 15px;
        width: 47px;
        height: 47px;
    }
    #barre_de_recherche h2
    {
        visibility: hidden;
        
    }
    #barre_de_recherche
    {
        border-style: solid;
        width: 268px;
        margin-left: 25px;
        padding-left: 0;
        border-radius: 15px;
        border-width: thin;
        border-color: #F2F2F2;
    }
    #filtres
    {
        height: 200px;
        
    }
    .filtres
    {
        margin-top:5px;
        margin-bottom: 5px;
        margin-left:0;
    }
    #information
    {
        padding-left:15px;
        width: 300px;
        padding-bottom: 0;
    }
    /*section*/
    section
    {
        height: auto;
        width: 375px;
        display: flex;
        flex-direction: column;
    }
  
    aside
    {
        order: -1;
        width: 268px;
        height: auto;
        border-radius: 0;
        
    }
    #bloc_vignettes
    {
        flex-direction: column;
        height: auto;
    }
    .vignette_aside
    {  
        width: 268px;
        height:120px ;
        margin-bottom: 15px;
    }
    .images_aside
    {
        width:120px;
        height:120px;
    }
    #hébergements
    {
        height: auto;
        background-color: white;
        padding-top: 15px;
    }
    #vignettes_hébergements
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        
    }
    .vignette_section1
    {
        display: flex;
        flex-direction: column;
        width: 268px;
        margin-bottom: 15px;
        height: 100px;
    }

    /*section2*/
    #section_2
    {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 0px;
    }
    #Bloc_vignettes
    {
        height: auto;
        flex-direction: column;
        padding-left: 25px;
        
    }
    #section_2 h1
    {
        padding-left: 25px;
    }

    .vignettes_simple, .vignettes_double, #pomègues, #frioul
    {
        width: 268px;
        height: 150px;
        margin-bottom: 25px;
    }
    #Vieux_port
    {
        padding: 15px;
        background-size: cover;
        background-position:center;
    }
    
    #Fort_de_Pomègues
    {
        padding:40px;
        background-size: cover;
        background-position:center;
    }
    
    #Parc_National_des_Calanques
    {
        padding: 15px;
        background-size: cover;
        background-position:center;
    }
    
    #Notre-Dame-de-la-Garde
    {
        padding: 55px;
    }
    #Parc-Longchamp
    {
        padding: 55px;
        background-size: cover;
        background-position:center;
    }

    /*footer*/

    footer
    {
        flex-direction: column;
        margin-left: 35px;
        height: auto;
        width: 375px;

    }
    .footer
    {
        width:268px;
    }
}

